<html>

<head>
    <title>Demo for Audio Recorder</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdn.rawgit.com/logbon72/angular-recorder/c40a29e63d4e6f0e59ede2ae0e5d5e979263aac1/lib/html5-recorder.js"></script>
    <script src="https://cdn.rawgit.com/logbon72/angular-recorder/c40a29e63d4e6f0e59ede2ae0e5d5e979263aac1/lib/flash-recorder.js?v=20151021.1"></script>
    <script src="https://cdn.rawgit.com/logbon72/angular-recorder/c40a29e63d4e6f0e59ede2ae0e5d5e979263aac1/audio-recorder.js?v=20151021.1"></script>
    <script src="demo.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <style>
        canvas {
            display: inline-block;
            background: #202020;
            width: 100%;
            /*height: 45%;*/
            height: 300px;
            box-shadow: 0px 0px 10px blue;
        }

        .float-rt {
            float: right;
        }

    </style>
</head>

<body ng-app="recorderDemo" ng-cloak="" style="font-family: sans-serif">
<div ng-controller='DemoController'>
    <h1 class="text-center">Welcome to Recorder Demo </h1>

    <div ng-audio-recorder id="mainAudio" audio-model="recorded" class="container">
        <div ng-if="recorder.isAvailable">


            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span ng-if="recorder.isHtml5()">
                            Using HTML5 <a href="?forceFlash" class="btn btn-default btn-sm float-rt">Use FLASH</a>
                        </span>

                        <span ng-if="!recorder.isHtml5()">
                            Using FLASH <a href="?" class="btn btn-default btn-sm float-rt">Use Default</a>
                        </span>
                    </h3>

                    <div class="clearfix"></div>
                </div>

                <div class="panel-body">
                    <div>
                        <div>
                            <h3 style="float: right; font-family: sans-serif; text-align: center; width: 50px; border-radius: 30px; border: solid 2px #333; padding: 10px; margin: 0; background: #337ab7; color: #fff;"
                                ng-if="recorder.status.isRecording">
                                {{recorder.elapsedTime >= 10 ? recorder.elapsedTime : ('0'+recorder.elapsedTime)}}
                            </h3>

                            <div class="alert alert-danger" ng-if="recorder.status.isDenied === true">
                                Permission to use your microphone was declined, please refresh this page to grant
                                permission.
                            </div>

                            <div class="controls text-center" style="padding-top: 10px;"
                                 ng-hide="recorder.status.isDenied === true">
                                <button ng-click="recorder.status.isRecording ? recorder.stopRecord() : recorder.startRecord()"
                                        type="button" class="btn"
                                        ng-class="{'btn-primary': !recorder.status.isRecording, 'btn-danger': recorder.status.isRecording}">
                                    <i class="glyphicon glyphicon-record"></i> {{recorder.status.isRecording ? 'Stop' :
                                    'Start'}} Recording
                                </button>

                                <button class="btn"
                                        ng-class="{'btn-primary': (recorder.status.isPaused || recorder.status.isStopped), 'btn-warning': recorder.status.isPlaying}"
                                        ng-click="recorder.status.isPlaying ? recorder.playbackPause() : recorder.playbackResume()"
                                        type="button"
                                        ng-disabled="recorder.status.isRecording || !recorder.audioModel">
                                    <span ng-if="recorder.status.isPaused || recorder.status.isStopped">
                                        <i class="glyphicon glyphicon-play"></i> Play
                                    </span>

                                    <span ng-if="recorder.status.isPlaying">
                                        <i class="glyphicon glyphicon-pause"></i> Pause
                                    </span>
                                </button>

                                <button class="btn btn-success" ng-click="recorder.save()"
                                        ng-disabled="recorder.status.isRecording || !recorder.audioModel">
                                    <i class="glyphicon glyphicon-download"></i> Download
                                </button>

                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                    <br/>

                    <div class="panels" canvas-sizer>
                        <div ng-show="recorder.status.isRecording">
                            <ng-audio-recorder-analyzer></ng-audio-recorder-analyzer>
                        </div>

                        <div ng-show="!recorder.status.isRecording && recorder.audioModel">
                            <ng-audio-recorder-wave-view wave-color="yellow"
                                                         bar-color="red"></ng-audio-recorder-wave-view>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div ng-if="!recorder.isAvailable" class="alert alert-warning">
            Your browser does not support this feature natively, please use latest version of <a
                href="https://www.google.com/chrome/browser" target="_blank">Google Chrome</a> or <a
                href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a>. If you're on
            Safari or Internet Explorer, you can install <a href="https://get.adobe.com/flashplayer/">Adobe Flash</a> to
            use this feature.
        </div>
    </div>

</div>
</body>
</html>